body {

	font-family: 'Courier Prime', monospace;
	font-size: 20px;

}


h1 {

	font-family: 'Faster One', cursive;
	font-size: 52px;
}

.fa-shopping-cart {

	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}	