body {

	font-family: 'Courier Prime', monospace;
	font-size: 16px;
	background-color: #EBE4D7;
	color: black;
	max-width: 1850px;
}


/* <<<< HEADER >>>> */


header {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 10px solid #504F4C;
	background-color: #504F4C;
	color: #EBE4D7;
	box-shadow: 2px 2px 5px black;

}


h1 {

	font-family: 'Faster One', cursive;
	font-size: 52px;
	padding-left: 30px;
	text-shadow: 3px 3px 5px black;
}

.fa-shopping-cart {

	cursor: pointer;
	padding-bottom: 20px; 
	margin-top: 60px;
	margin-right: 40px;
	text-shadow: 3px 3px 5px black;
}



/* <<<< MAIN >>>> */

main {

	margin-bottom: 200px;
}

h2 {

	margin-top: 100px;
}

h3 {

	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;

}

.banner {

	text-align: center;
}

.cameras {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}


img {

	width: 400px;
	height: 250px;

}

section a {

	border: 5px solid #504F4C;
	background-color: #504F4C;
	color: #EBE4D7;
	box-shadow: 2px 2px 5px black;
	margin-bottom: 50px;
	text-decoration: none;
	
}

h4 {

	margin-left: 10px;
	text-shadow: 3px 3px 5px black;

}

span {

	margin-left: 10px;
	text-shadow: 3px 3px 5px black;
}

.page_product {

	border: 5px solid #504F4C;
	background-color: #504F4C;
	color: #EBE4D7;
	box-shadow: 2px 2px 5px black;
	text-shadow: 3px 3px 5px black;
	text-align: center;
	margin-top: 70px;
	padding-bottom: 50px;

}

button {

	margin-top: 70px;
	width: 170px;
	height: 50px;
	background-color: #EBE4D7;
	font-family: 'Courier Prime', monospace;
	font-size: 18px;
	cursor: pointer;
	text-shadow: 3px 3px 3px grey;

}

.back {

	display: flex;
	justify-content: center;
	margin-bottom: 150px;
	margin-top: 150px;
}

.button-return {

	
	background-color: #504F4C;
	color: #EBE4D7;
	box-shadow: 2px 2px 5px black;
	padding: 15px;
	text-shadow: 3px 3px 5px black;
	font-size: 18px;
	cursor: pointer;

}



/* <<<< FOOTER >>>> */

footer {

	border: 10px solid #504F4C;
	background-color: #504F4C;
	color: #EBE4D7;
	box-shadow: 2px 2px 5px black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-shadow: 3px 3px 5px black;
}

ul {

	text-shadow: 3px 3px 5px black;
	
}

li {

	list-style-type: none;
	cursor: pointer;
	margin-top: 20px;
}

h5 {

	cursor: pointer;
	font-size: 16px;
}



/* <<<< 750px >>>> */


@media screen and (max-width: 750px){


footer {

	flex-direction: column;
	align-items: center;
}	

li {

	margin-right: 20px;
}

header {

	flex-direction: column;
	align-items: center;
}

.fa-shopping-cart {

	display: none;
}


}